<% cache "loan_requests" do %>
<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<br>

<%= render "shared/lender_thumbnail" %>

<div class="container">
  <div class="row text-center">
    <%= will_paginate @loan_requests %>
  </div>
</div>
<% end %>
