<div class="page-header">
  <h1><%= @category.title %> Loan Requests</h1>
</div>

<%= render "shared/lender_thumbnail" %>

<div class="container">
  <div class="row text-center">
    <%= will_paginate @loan_requests %>
  </div>
</div>
